#root{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.bodys{
    height: 13vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box{
    margin: 0;
    width: 1000px;
    height: 10px;
    background-color: #F6F2E9;
    display: flex;
    align-items: center;
    padding: 20px;
    box-shadow: 0 0.7rem 1rem -0.9rem hsla(0, 0%, 0%, 0.25);
}
button{
    align-items: center;
}
.box > label {
    font-size: 20px;
    color: black;
    padding-left: 10px;
}
.box > input{
    flex: 1;
    height: 20px;
}
.bodys i{
    margin: 0px;
    padding-left: 10px;
}